@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700');


body{
    font-family: 'Poppins', sans-serif;
    /*height: 100vh;*/
    color: grey;
    overflow: hidden;
}

.header{
    /*background-image: url('Media/1.jpg');*/
    background-size: 100% 100%;

}

.header-text{
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 3rem 3rem;

}
.name{
    color: black;
}

.information{
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 3rem;


}

h1, h2{
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
    color: grey;
}

/* Cursor */
.txt-type > .txt{
    border-right: 0.2rem solid grey;

}

/* Button Styles */

.btn-group button {
    background-color: white; /* Green background */
    border: 1px solid green; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: auto;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: grey;
}

/* END Button Styles */

