@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700');


body{
    font-family: 'Poppins', sans-serif;
    /*height: 100vh;*/
    color: #ccc;
    overflow: hidden;
}

.header{
    /*background-image: url('Media/1.jpg');*/
    background-size: 100% 100%;

}

.header-text{
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 3rem 3rem;

}

.information{
    flex-direction: column;
    justify-content: center;
    padding: 3rem 3rem;

}

h1, h2{
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
    color: #aaa;
}

/* Cursor */
.txt-type > .txt{
    border-right: 0.2rem solid #777;
}

