@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    color: #ccc;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;

}

h1, h2{
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2rem;
    color: #aaa;
}